<!DOCTYPE html>

<head>
        <html lang="en" dir="ltr">
        <meta charset="utf-8">
        <title>Recommendations</title>
        <style type="text/css">    
          body
          {
            border: 2px solid black;
            padding: 0px;
            background-color: lightblue;
            } 
        </style>  
    </head>

   <body>
       <h2> <font color="midnightblue"><strong>Here are the top-10 movies that you'll most probably like:</strong></font></h2>
            <p>{{ table }}</p>
   </body>
</html>